.idea/
.vscode/

node_modules/

globals.js
globals.*map
globals.d.ts
globals.mjs

v*.js
v*.*map
v*.d.ts
v*.mjs

traffic/**/*.js
traffic/**/*.map
traffic/**/*.d.ts
traffic/**/*.mjs

web/**/*.js
web/**/*.map
web/**/*.d.ts
web/**/*.mjs
